# Database connection string
DATABASE_URL="postgresql://postgres:password@localhost:5432/magic_link"

# Resend API Key for emails
RESEND_API_KEY="re_123456789"

# Sender identity for Resend (Verify this domain in Resend dashboard)
EMAIL_FROM="onboarding@yourdomain.com"

# The base URL of your application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
